In [1]:
import glob
import pandas as pd

# 1. Build a mapping for the columns with mixed types
dtype_map = {
    'Day'               :'string',
    'timezone'          :'string',
    'truck'             :'string',
    'Role'              :'string',
    'Transfer unit'     :'string',
    'bitrate_unit'      :'string',
    'cwnd_unit'         :'string',
    'Role-RX'           :'string',
    'Transfer unit-RX'  :'string',
    'bitrate_unit-RX'   :'string',
    'square_id'         :'string',
}

# 2. Reload all files with low_memory=False
file_paths = glob.glob('data/*-combined-kml.csv')
df = pd.concat([
    pd.read_csv(p, dtype=dtype_map, low_memory=False)
    for p in file_paths
], ignore_index=True)


numeric_cols = [
    'time','Year','Month','Date','hour','min','sec',
    'latitude','longitude','speed',
    'svr1','svr2','svr3','svr4',
    'Transfer size','Bitrate','Retransmissions','CWnd',
    'Transfer size-RX','Bitrate-RX','send_data'
]
df[numeric_cols] = df[numeric_cols].apply(pd.to_numeric, errors='coerce')

print(df.dtypes)

time                         int64
Day                 string[python]
Year                       float64
Month                      float64
Date                       float64
hour                       float64
min                        float64
sec                        float64
timezone            string[python]
latitude                   float64
longitude                  float64
speed                      float64
truck               string[python]
svr1                       float64
svr2                       float64
svr3                       float64
svr4                       float64
Role                string[python]
Transfer size              float64
Transfer unit       string[python]
Bitrate                    float64
bitrate_unit        string[python]
Retransmissions            float64
CWnd                       float64
cwnd_unit           string[python]
Role-RX             string[python]
Transfer size-RX           float64
Transfer unit-RX    string[python]
Bitrate-RX                 float64
bitrate_unit-RX     string[python]
send_data                  float64
square_id           string[python]
dtype: object

In [3]:
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3042495 entries, 0 to 3042494
Data columns (total 32 columns):
 #   Column            Dtype
---  ------            -----
 0   time              int64
 1   Day               string
 2   Year              float64
 3   Month             float64
 4   Date              float64
 5   hour              float64
 6   min               float64
 7   sec               float64
 8   timezone          string
 9   latitude          float64
 10  longitude         float64
 11  speed             float64
 12  truck             string
 13  svr1              float64
 14  svr2              float64
 15  svr3              float64
 16  svr4              float64
 17  Role              string
 18  Transfer size     float64
 19  Transfer unit     string
 20  Bitrate           float64
 21  bitrate_unit      string
 22  Retransmissions   float64
 23  CWnd              float64
 24  cwnd_unit         string
 25  Role-RX           string
 26  Transfer size-RX  float64
 27  Transfer unit-RX  string
 28  Bitrate-RX        float64
 29  bitrate_unit-RX   string
 30  send_data         float64
 31  square_id         string
dtypes: float64(20), int64(1), string(11)
memory usage: 742.8 MB

,time,Day,Year,Month,Date,hour,min,sec,timezone,latitude,...,Retransmissions,CWnd,cwnd_unit,Role-RX,Transfer size-RX,Transfer unit-RX,Bitrate-RX,bitrate_unit-RX,send_data,square_id
0,1656876656,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,NaN,...,NaN,NaN,<NA>,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>
1,1656876656,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,NaN,...,NaN,NaN,<NA>,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>
2,1656876656,<NA>,NaN,NaN,NaN,NaN,NaN,NaN,<NA>,NaN,...,NaN,NaN,<NA>,<NA>,NaN,<NA>,NaN,<NA>,NaN,<NA>
3,1656876657,Mon,2022.0,7.0,4.0,5.0,30.0,57.0,AEST,99.0,...,NaN,NaN,<NA>,<NA>,NaN,<NA>,NaN,<NA>,0.0,<NA>
4,1656876657,Mon,2022.0,7.0,4.0,5.0,30.0,57.0,AEST,99.0,...,NaN,NaN,<NA>,<NA>,NaN,<NA>,NaN,<NA>,0.0,<NA>

In [4]:
df_copy = df.copy()

In [64]:
df = df_copy.copy()

In [67]:
df['datetime'] = pd.to_datetime(df['time'], unit='s')
for c in ['latitude', 'longitude']:
    df.loc[df[c] == 999, c] = pd.NA
df.dropna(subset=['latitude', 'longitude'], inplace=True)

df.datetime = df.datetime.dt.tz_localize('UTC').dt.tz_convert('Australia/Melbourne')

In [68]:
for c in ['svr1', 'svr2', 'svr3', 'svr4']:
    df.loc[df[c] == 1000, c] = pd.NA
df.dropna(subset=['svr1', 'svr2', 'svr3', 'svr4'], inplace=True)

In [69]:
to_drop = ['time','Year', 'timezone', 'sec', 'Role', 'Month', 'Role-RX' , 'Transfer unit-RX', 'cwnd_unit',  'bitrate_unit', 'Transfer unit', 'bitrate_unit-RX', 'Day']

df.drop(columns=to_drop, inplace=True)

In [70]:
df.set_index('datetime', inplace=True)

In [71]:
df.dropna(how='any', inplace=True)

In [72]:
df.reset_index()

,datetime,Date,hour,min,latitude,longitude,speed,truck,svr1,svr2,svr3,svr4,Transfer size,Bitrate,Retransmissions,CWnd,Transfer size-RX,Bitrate-RX,send_data,square_id
0,2022-07-04 05:43:37+10:00,4.0,5.0,43.0,-37.737985,144.849691,76.811700,garbo02,25.5,28.9,27.8,44.5,0.864258,7.25,0.0,0.007080,0.988281,8.29,0.000000,square_94489280583
1,2022-07-04 05:43:38+10:00,4.0,5.0,43.0,-37.738127,144.849794,75.519004,garbo02,35.0,32.0,31.3,42.1,1.300000,10.90,3.0,0.010645,0.972656,8.16,0.000000,square_94489280583
2,2022-07-04 05:43:39+10:00,4.0,5.0,43.0,-37.738249,144.849904,72.846568,garbo02,34.2,30.5,29.8,46.1,1.300000,10.90,0.0,0.010645,0.957031,8.03,0.000000,square_94489280583
3,2022-07-04 05:43:40+10:00,4.0,5.0,43.0,-37.738362,144.850020,70.279696,garbo02,25.0,23.2,21.6,38.7,0.864258,7.25,0.0,0.007080,0.953125,7.99,0.014404,square_94489280583
4,2022-07-04 05:43:41+10:00,4.0,5.0,43.0,-37.738491,144.850142,70.153760,garbo02,20.2,18.7,23.4,34.2,0.926758,7.77,6.0,0.007588,0.927734,7.78,0.000000,square_94489280583
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1549826,2022-07-07 10:21:57+10:00,7.0,10.0,21.0,-37.745164,144.809922,5.393024,garbo06,304.0,308.0,301.0,324.0,1.250000,10.50,1.0,0.010254,2.080000,17.40,0.000000,square_85899346000
1549827,2022-07-07 10:21:58+10:00,7.0,10.0,21.0,-37.745170,144.809933,4.978176,garbo06,232.0,230.0,228.0,245.0,1.250000,10.50,0.0,0.010254,1.440000,12.10,0.000000,square_85899346000
1549828,2022-07-07 10:22:00+10:00,7.0,10.0,22.0,-37.745228,144.809942,8.911824,garbo06,168.0,166.0,159.0,190.0,1.250000,10.50,4.0,0.010254,1.540000,12.90,0.014404,square_85899346000
1549829,2022-07-07 10:22:01+10:00,7.0,10.0,22.0,-37.745238,144.809933,7.274656,garbo06,281.0,272.0,271.0,288.0,2.500000,21.00,0.0,0.020508,1.610000,13.50,0.000000,square_85899346000
1549830,2022-07-07 10:22:02+10:00,7.0,10.0,22.0,-37.745231,144.809929,3.863272,garbo06,166.0,164.0,163.0,185.0,1.250000,10.50,0.0,0.010254,2.570000,21.50,0.000000,square_85899346000

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1549831 entries, 2022-07-04 05:43:37+10:00 to 2022-07-07 10:22:02+10:00
Data columns (total 19 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   Date              1549831 non-null  float64
 1   hour              1549831 non-null  float64
 2   min               1549831 non-null  float64
 3   latitude          1549831 non-null  float64
 4   longitude         1549831 non-null  float64
 5   speed             1549831 non-null  float64
 6   truck             1549831 non-null  string
 7   svr1              1549831 non-null  float64
 8   svr2              1549831 non-null  float64
 9   svr3              1549831 non-null  float64
 10  svr4              1549831 non-null  float64
 11  Transfer size     1549831 non-null  float64
 12  Bitrate           1549831 non-null  float64
 13  Retransmissions   1549831 non-null  float64
 14  CWnd              1549831 non-null  float64
 15  Transfer size-RX  1549831 non-null  float64
 16  Bitrate-RX        1549831 non-null  float64
 17  send_data         1549831 non-null  float64
 18  square_id         1549831 non-null  string
dtypes: float64(17), string(2)
memory usage: 236.5 MB

In [ ]:
df.to_csv('Cleaned.csv')

In [80]:
import pandas as pd

# this will one‑hot encode both columns and append the new dummy columns
df_encoded = pd.get_dummies(
    df,
    columns=['square_id', 'truck'],
    prefix=['square', 'truck'],
    drop_first=False,      
    dtype='uint8'            # smaller integer dtype to save memory
)

# inspect the new column names
print(df_encoded.columns.tolist())

['Date', 'hour', 'min', 'latitude', 'longitude', 'speed', 'svr1', 'svr2', 'svr3', 'svr4', 'Transfer size', 'Bitrate', 'Retransmissions', 'CWnd', 'Transfer size-RX', 'Bitrate-RX', 'send_data', 'square_square_103079215126', 'square_square_103079215128', 'square_square_103079215130', 'square_square_103079215132', 'square_square_103079215134', 'square_square_103079215136', 'square_square_103079215138', 'square_square_103079215140', 'square_square_103079215142', 'square_square_103079215144', 'square_square_103079215147', 'square_square_103079215151', 'square_square_103079215153', 'square_square_103079215155', 'square_square_103079215157', 'square_square_103079215158', 'square_square_103079215180', 'square_square_103079215182', 'square_square_103079215184', 'square_square_103079215186', 'square_square_103079215188', 'square_square_111669149696', 'square_square_111669149698', 'square_square_111669149700', 'square_square_111669149702', 'square_square_111669149706', 'square_square_111669149708', 'square_square_111669149710', 'square_square_111669149712', 'square_square_111669149714', 'square_square_111669149716', 'square_square_111669149718', 'square_square_111669149719', 'square_square_111669149740', 'square_square_111669149742', 'square_square_111669149744', 'square_square_111669149746', 'square_square_111669149748', 'square_square_111669149750', 'square_square_111669149752', 'square_square_111669149754', 'square_square_111669149756', 'square_square_111669149758', 'square_square_111669149760', 'square_square_111669149762', 'square_square_111669149764', 'square_square_111669149768', 'square_square_111669149772', 'square_square_111669149774', 'square_square_111669149776', 'square_square_111669149777', 'square_square_120259084292', 'square_square_120259084293', 'square_square_120259084301', 'square_square_120259084303', 'square_square_120259084304', 'square_square_120259084306', 'square_square_120259084308', 'square_square_120259084310', 'square_square_120259084312', 'square_square_120259084314', 'square_square_120259084316', 'square_square_120259084318', 'square_square_120259084320', 'square_square_120259084322', 'square_square_120259084328', 'square_square_120259084330', 'square_square_120259084353', 'square_square_120259084355', 'square_square_120259084357', 'square_square_120259084358', 'square_square_120259084359', 'square_square_120259084360', 'square_square_120259084361', 'square_square_120259084363', 'square_square_120259084365', 'square_square_120259084367', 'square_square_128849018907', 'square_square_128849018908', 'square_square_128849018909', 'square_square_128849018910', 'square_square_128849018911', 'square_square_128849018912', 'square_square_128849018913', 'square_square_128849018914', 'square_square_128849018915', 'square_square_128849018930', 'square_square_128849018932', 'square_square_128849018933', 'square_square_128849018934', 'square_square_128849018961', 'square_square_128849018962', 'square_square_128849018963', 'square_square_128849018964', 'square_square_128849018965', 'square_square_137438953485', 'square_square_137438953487', 'square_square_137438953518', 'square_square_137438953519', 'square_square_137438953520', 'square_square_137438953523', 'square_square_137438953524', 'square_square_137438953538', 'square_square_137438953539', 'square_square_137438953543', 'square_square_137438953545', 'square_square_146028888101', 'square_square_146028888137', 'square_square_146028888138', 'square_square_154618822680', 'square_square_154618822682', 'square_square_154618822713', 'square_square_154618822717', 'square_square_154618822733', 'square_square_163208757248', 'square_square_34359738372', 'square_square_34359738374', 'square_square_34359738394', 'square_square_34359738396', 'square_square_34359738398', 'square_square_34359738429', 'square_square_34359738430', 'square_square_34359738432', 'square_square_34359738434', 'square_square_34359738436', 'square_square_34359738438', 'square_square_34359738440', 'square_square_42949672967', 'square_square_42949672970', 'square_square_42949672976', 'square_square_42949672978', 'square_square_42949672980', 'square_square_42949673001', 'square_square_42949673003', 'square_square_42949673005', 'square_square_42949673007', 'square_square_42949673009', 'square_square_42949673011', 'square_square_42949673013', 'square_square_42949673015', 'square_square_42949673017', 'square_square_42949673019', 'square_square_42949673021', 'square_square_42949673022', 'square_square_42949673023', 'square_square_51539607556', 'square_square_51539607558', 'square_square_51539607560', 'square_square_51539607562', 'square_square_51539607566', 'square_square_51539607569', 'square_square_51539607571', 'square_square_51539607573', 'square_square_51539607575', 'square_square_51539607577', 'square_square_51539607579', 'square_square_51539607580', 'square_square_51539607582', 'square_square_51539607596', 'square_square_51539607604', 'square_square_51539607606', 'square_square_51539607609', 'square_square_51539607612', 'square_square_51539607616', 'square_square_51539607618', 'square_square_51539607619', 'square_square_51539607623', 'square_square_51539607626', 'square_square_51539607629', 'square_square_51539607631', 'square_square_51539607633', 'square_square_51539607635', 'square_square_60129542144', 'square_square_60129542146', 'square_square_60129542148', 'square_square_60129542170', 'square_square_60129542173', 'square_square_60129542176', 'square_square_60129542178', 'square_square_60129542180', 'square_square_60129542182', 'square_square_60129542184', 'square_square_60129542186', 'square_square_60129542188', 'square_square_60129542190', 'square_square_60129542192', 'square_square_60129542195', 'square_square_60129542197', 'square_square_60129542199', 'square_square_60129542201', 'square_square_60129542203', 'square_square_60129542205', 'square_square_60129542207', 'square_square_68719476737', 'square_square_68719476739', 'square_square_68719476740', 'square_square_68719476742', 'square_square_68719476744', 'square_square_68719476746', 'square_square_68719476748', 'square_square_68719476750', 'square_square_68719476752', 'square_square_68719476754', 'square_square_68719476757', 'square_square_68719476759', 'square_square_68719476761', 'square_square_68719476763', 'square_square_68719476765', 'square_square_68719476767', 'square_square_68719476769', 'square_square_68719476793', 'square_square_68719476795', 'square_square_68719476797', 'square_square_68719476799', 'square_square_68719476801', 'square_square_68719476803', 'square_square_68719476805', 'square_square_68719476807', 'square_square_68719476809', 'square_square_68719476811', 'square_square_68719476813', 'square_square_68719476815', 'square_square_68719476817', 'square_square_68719476819', 'square_square_77309411328', 'square_square_77309411330', 'square_square_77309411332', 'square_square_77309411361', 'square_square_77309411363', 'square_square_77309411365', 'square_square_77309411367', 'square_square_77309411369', 'square_square_77309411371', 'square_square_77309411373', 'square_square_77309411375', 'square_square_77309411377', 'square_square_77309411379', 'square_square_77309411381', 'square_square_77309411383', 'square_square_77309411385', 'square_square_77309411387', 'square_square_77309411389', 'square_square_77309411391', 'square_square_85899345923', 'square_square_85899345924', 'square_square_85899345926', 'square_square_85899345928', 'square_square_85899345930', 'square_square_85899345932', 'square_square_85899345934', 'square_square_85899345936', 'square_square_85899345938', 'square_square_85899345940', 'square_square_85899345942', 'square_square_85899345944', 'square_square_85899345946', 'square_square_85899345948', 'square_square_85899345950', 'square_square_85899345984', 'square_square_85899345985', 'square_square_85899345986', 'square_square_85899345987', 'square_square_85899345988', 'square_square_85899345990', 'square_square_85899345992', 'square_square_85899345994', 'square_square_85899345996', 'square_square_85899345998', 'square_square_85899346000', 'square_square_85899346002', 'square_square_85899346004', 'square_square_94489280512', 'square_square_94489280514', 'square_square_94489280516', 'square_square_94489280518', 'square_square_94489280554', 'square_square_94489280555', 'square_square_94489280556', 'square_square_94489280558', 'square_square_94489280560', 'square_square_94489280562', 'square_square_94489280565', 'square_square_94489280567', 'square_square_94489280569', 'square_square_94489280571', 'square_square_94489280573', 'square_square_94489280575', 'square_square_94489280577', 'square_square_94489280583', 'truck_garbo01', 'truck_garbo02', 'truck_garbo03', 'truck_garbo04', 'truck_garbo05', 'truck_garbo06', 'truck_garbo07', 'truck_garbo08', 'truck_garbo09', 'truck_garbo10', 'truck_garbo11']

In [82]:
df_encoded.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1549831 entries, 2022-07-04 05:43:37+10:00 to 2022-07-07 10:22:02+10:00
Columns: 317 entries, Date to truck_garbo11
dtypes: float64(17), uint8(300)
memory usage: 656.2 MB